<div class="container mt-2">
 <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4"><%= t('text.forgot_password')%></h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-signin' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-label-group mb-2">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
        </div>

        <div class="d-flex justify-content-between">
          <div class='left'>
            <%= render "devise/shared/links" %>
          </div>
          <div class='right'>
            <%= f.submit t('text.reset_password'), class: 'btn btn-success' %>
          </div>
        </div>

      <% end %>
    </div>
 </div>
</div>

