<%= form_with(model: post) do |form| %>

  <div class='pt-2'>
    <%= form.label t('text.title'), style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class='pt-2'>
    <%= form.label t('text.body'), style: "display: block" %>
    <%= form.rich_text_area :body %>
  </div>

  <div class='pt-2'>
    <%= form.label :tag_ids, "Tags" %><br>
    <%= form.collection_select :tag_ids, Tag.all, :id, :name, {}, {multiple: true, data: {controller: "slim"}} %>
  </div>

  <div>
    <%= form.submit t('links.submit'), class: 'btn btn-success mt-1' %>
  </div>
<% end %>
