<h1>Posts</h1>

<%= form_with(url: posts_path, method: :get, html: { class: 'text-end'}) do %>
 <%= select_tag 'tag', options_from_collection_for_select(Tag.all, 'name', 'name', params[:tag]), prompt: 'Selecione uma tag', html: {class: 'form-select form-select-lg mb-3', aria_label: "Small select example"} %>
 <%= submit_tag 'Filtrar', class: 'btn btn-success' %>
<% end %>



<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Tags</th>
      <th scope="col">Actions</th>
      <th scope="col">Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr style="height: 100px;">
        <th class="align-middle"><%= post.id %></th>
        <td class="align-middle">
          <div class="d-flex align-items-center">
            <div class="p-2">
              <%= image_tag avatar_url(post.user), style: 'height:40px; width:auto; border-radius: 50%;' if post.user.email %>
            </div>
            <div>
              <%= post.user.email %>
            </div>
          </div>
        </td>
        <td class="align-middle"><%= post.title %></td>
        <td class="align-middle">
          <% post.tags.each do |tag| %>
            <span class="badge text-bg-secondary"><%= tag.name %></span>
          <% end %>
        <td class="align-middle">
          <%= link_to "Show this post", post, class: 'btn btn-sm btn-success' %>
        </td>
        <td class="align-middle"><%= post.created_at.strftime("%d %m %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>

<%= link_to "New post", new_post_path, class: 'btn btn-success mt-3' %>